body {
  text-align: center;
  background-color: black;
}
footer{
  color: #4FD3C4;
  font-family: "Calibri";
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #4FD3C4;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #FFF9F9;
  border-radius: 50%;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #C1F8CF;
  background: url("images/plus.png") no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.green {
  background-color: #C1F8CF;
  background: url("images/cancel.png") no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blue {
  background-color: #C1F8CF;
  background: url("images/letter-o.png") no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yellow {
  background-color: #C1F8CF;
  background: url("images/triangle-button.png") no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
